# Build output
/build/
/bin/
/obj/
/artifacts/

# VS Code user state
.vscode/*.log
.vscode/*.code-workspace

# CMake
CMakeUserPresets.json
cmake-build-*/

# OS files
.DS_Store
Thumbs.db

# Native/managed outputs
src/dotnet/Vyre.App/bin/
src/dotnet/Vyre.App/obj/
src/dotnet/Vyre.App.Core/bin/
src/dotnet/Vyre.App.Core/obj/

.fake